.page-header
  = link_to new_world_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New World
  %h1 Listing worlds

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th
        %th
        %th

    %tbody
      - @worlds.each do |world|
        %tr
          %td= world.name
          %td= world.description
          %td= link_to 'Show', world
          %td= link_to 'Edit', edit_world_path(world)
          %td= link_to 'Destroy', world, :data => { confirm: 'Are you sure?' }, :method => :delete
