.page-header
  = link_to rooms_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_room_path(@room), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show room

%dl.dl-horizontal
  %dt Name:
  %dd= @room.name
  %dt Description:
  %dd= @room.description
  %dt World:
  %dd= @room.world
